@model StoreFront2.Models.ChangePasswordViewModel

@using StoreFront2.Data;

@{
    var _storeFrontName = "Defaults";
    var _setting = new SystemSetting();
    if (Session["Site"] != null)
    {
        Layout = ((StoreFront2.Models.Site)Session["Site"]).LayoutPath;
        _storeFrontName = ((StoreFront2.Models.Site)Session["Site"]).StoreFrontName;
        _setting = ((StoreFront2.Models.Site)Session["Site"]).Setting;
    }
}

<div class="container">
    <div class="col-md-2">
        <div>
            <button class="btn btn-success" onclick="backLink(event)">Back to Profile</button>
        </div>
    </div>
    <div class="col-md-10">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1default" data-toggle="tab">
                                Change Password Form
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <div class="row">
                                <div class="col-md-8">

                                </div>
                                <div class="form-group col-md-4">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <input type="submit" value="Submit" class="btn btn-success" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="k-card k-card-body">

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function backLink(e) {
        window.location.href = '@Url.Action("Index", "Manage")/';
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
